global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend owncloud_servers

backend owncloud_servers
    balance roundrobin
    server owncloud1 owncloud1:8080 check
    server owncloud2 owncloud2:8080 check
